@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;  
  @media (max-width: 1150px ) { //and (min-height: 650px)
    font-size: ($sizeValue * 7) + px;
    font-size: ($sizeValue * .7) + rem;
  }
  @media (max-height: 650px) {
    font-size: ($sizeValue * 7) + px;
    font-size: ($sizeValue * .7) + rem;
  }
}

@mixin no-select() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}

@mixin background-poster($image) {
    background: url($image) no-repeat center center; // fixed
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}

@mixin cta() {
    cursor: pointer; 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}

@mixin responsiveRule($point) {
  @if $point == default {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == tablet {
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { @content; }    
  }
  @else if $point == mobile {
    @media (max-width: 500px) { @content; }
  }
}

//@media only screen and (device-width:768px)and (orientation:portrait)
/*iPad Portrait orientation styles */

//@media only screen and (device-width:768px)and (orientation:landscape)
/*iPad landscape*/
