$level1000: 100000; 
$level2000: 90000; 
$level3000: 80000; 
$level3001: 80001; 
$level4000: 70000; 
$level5000: 60000; 
$level5001: 60001; 
$level6000: 50000; 
$level6001: 50001; 


// z-index levels 
$layerBase: 0; 
$layerBase1: 1; 
$layerBase2: 2; 
$layerBase3: 3; 
$layerBase4: 4; 
$layerBase5: 5; 

$layerA: 100; 
$layerB: 200; 
$layerC: 300; 
$layerD: 400; 
$layerE: 500;
$layerW: 70000;  
$layerX: 80000;     
$layerY: 900000;  
$layerZ: 1000000; 
$layerZZ: 2000000; 

$white: #ffffff; 
$black: #000000; 
$darkGray: #505151; 

a {
    color: $white; 
}


@import 'fonts'; 
@import 'layers';
@import 'global';

.bold-text {
    font-family: $boldFont; 
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    -webkit-font-smoothing: antialiased;
    color: #ffffff; 
    font-family: $lightFont;     
}

.no-select {
    cursor: pointer; 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

#html5Loader{
  top:0;
  left:0;
  background: url(../images/home-bg.jpg) no-repeat; 
  background-size: 100% 100%; 
  position:fixed;
  z-index:999999999;
}
#html5Loader .fallback {
  top:50%;
  position:absolute;
  text-align:center;
  width:100%;
  color:white;
  vertical-align: middle;
  display: block;
  font-style: normal;
}


#homeBackground {
    background:url(../images/home-bg.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
    z-index: $level1000; 
}

#discoverBackground {
    background:url(../images/discover-bg.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
    z-index: $level2000;     
}

#discoverVertical {
    z-index: $level2000;         
}

#connectBackground {
    background:url(../images/connect-bg.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;        
    z-index: $level3000;     
}

#connectVertical {
    z-index: $level3000;         
}

#connectContent {
    z-index: $level3001;   
    min-height: 1700px; 
}

#serveBackground {
    background:url(../images/serve-bg.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;        
    z-index: $level4000;     
}

#serveVertical {
    z-index: $level4000;         
}


#listenBackground {
    background:url(../images/listen-bg.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;        
    z-index: $level5000;     
}

#listenVertical {
    z-index: $level5000;         
}

#listenContent {
    z-index: $level5001;   
}


#giveBackground {
    background:url(../images/giving2-bg.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
    z-index: $level6000;         
}

#giveVertical {
    z-index: $level6000;         
}

#giveContent {
    z-index: $level6001;   
}

#mainTitle {
    display: block; 
    text-transform: uppercase; 
    font-family: $lightFont; 
    font-size: 80px;  
    white-space: nowrap; 
    text-align: center; 
    width: 100%; //66.0324566%; 
}

#mainSubtitle {
    font-family: $lightFont; 
    font-size: 40px;  
    text-align: center;   
}

.vertical-title  {
    position: absolute; 
    z-index: $layerW; 
    top: 0px;
    left: 180px;  
    width: 100%; 
    text-align: center;  
    border-bottom:3px solid $white; 
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);      
    font-size: 164px;
    color: $white; 
    font-family: $boldFont;  
    text-transform: uppercase;

    -moz-transform:rotate(-270deg); 
    -moz-transform-origin: top left;
    -webkit-transform: rotate(-270deg);
    -webkit-transform-origin: top left;
    -o-transform: rotate(-270deg);
    -o-transform-origin:  top left;
    -ms-transform: rotate(-270deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);     
}

.discover-text {
    width: 70%; 
    margin: 0 15% 0 15%; 
    font-family: $lightFont; 
    font-size: 66px; 
    span {
        font-family: $boldFont; 
    }
    .readmore-text {
        cursor: pointer; 
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;          
        right: 10%; 
        width: 80%;
        font-family: $lightFont;
        font-size: 20px; 
        text-align: right; 
        img {
            margin-bottom: -5px; 
        }
    }    
}

.overlay-inner {
    overflow-y: scroll; 
    overflow-x: hidden; 
    position: relative; 
    //width: 100%; 
    height: 100%; 
    margin: 50px 30px 0 30px; 
}

.content-overlay {
    background:url(../images/overlay.png) no-repeat;
    background-size: 100% 100%;      
    position: absolute; 
    z-index: $layerZZ; 
    left: 100%; 
    width: 50%; 
    height: 100%; 
    font-family: $lightFont;
    font-size: 18px; 
    &.full-page {
        width: 100%;
        //background:url(../images/content-full-yellow-bg.png) no-repeat;
        //background-size: 100% 100%;  
        //color: $darkGray; 
        .col {
            float: left; 
            width: 48%; 
            margin-top: 3%; 
            h2 {
                margin-top: 0px;  
            }
            &.small-text {
                font-size: 16px; 
            }
            &.large-text {
                font-size: 20px; 
            }
        }        
    }
    h2 {
        margin-top: 100px; 
        margin-left: 70px; 
        margin-right: 50px;        
        font-family: $boldFont; 
        text-transform: uppercase; 
    }
    p {
        margin-left: 70px; 
        margin-right: 50px; 
    }
    .close-button, .full-close-button {
        cursor: pointer; 
        position: absolute; 
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;          
        top: 20px; 
        right: 20px; 
        background:url(../images/close-button.png) no-repeat;
        background-size: 100% 100%;        
        width: 19px; 
        height: 19px;  
    }
}

.section-page {
    width: 60%; 
    margin: 10% 15% 0 25%; 
    text-align: left; 
    h2 {
        font-family: $boldFont; 
        text-transform: uppercase;
        font-size: 60px;
        span {
            padding-right: 10px; 
        }          
    }
    p {        
        font-family: $lightFont; 
        font-size: 24px;  
    }    
}

.podcast-buttons {
    .square-button {
        display: inline-block; 
            margin-right: 30px; 
        margin-bottom: 20px; 
        width: 409px; 
    }
}

.giving-button {
        margin-bottom: 20px;     
}

.connect-row {
    display: block;
    width: 100%; 
    overflow: hidden; 
    margin-top: 20px;     
}

.connect-row:after {
    display: block; 
    clear: both; 
}

.connect-block {
    //float: left; 
    //margin-right: 20px;
    display: block; 
    width: 70%; 
    border-radius: 10px; 
    border: 1px solid #ffffff; 
    padding: 15px;  
    margin-bottom: 20px; 
    p {
        font-size: 16px; 
        margin-left: 100px; 
    }
} 

.large-connect-icon {
    float: left; 
    margin: 5px;
    //margin-right: 20px; 
    font-size: 70px !important; 
}
@import 'skrollr';

