<!-- come and live --> 

<div id="discoverComeAndShare"
     class="sublayer discover-text" 
     data-0="top:100%" 
     data-1000="top:30%"
     data-2000="top:-70%">
    <p>Cana is a space where you can 
    <span>come and live</span>, even if you don't 
    want to "go to church"</p>
    <div id="readMoreComeAndShare" class="readmore-text">read more <img src="images/read-more-arrow.png"/></div>
</div>

<div id="overlayComeAndShare"
     class="sublayer content-overlay" 
     data-0="left:100%">

     <div id="closeComeAndShare" class="close-button"></div>

     <div class="overlay-inner"> 
        <h2>Come &amp; Live</h2>

        <p>We desire to have a space where people can go who, for whatever reason, cannot bring themselves to go to the churches that already exist.</p>

        <p>Perhaps they have become disillusioned with the traditional church of their youth or have been put off by the way politics have quietly found a place in many pulpits. Some people have been genuinely hurt by the decidedly human side of a church they once belonged to, or they just cannot get comfortable with the natural exclusiveness of many denominations. And others remain skeptical of religion in general. They may have an honest curiosity of God but cannot seem to settle in any of the more common church environments. It is our vision to create a space in which even the most disillusioned, the most hurt, the most skeptical can be comfortable.</p>

        <p>We have found that many persons retain a desire to worship God, celebrate Christ, satisfy their curiosity of the Divine, or be in community despite their misgivings about church in general. Cana Community strives to welcome these fellow sojourners and meet them where they are at. Christ welcomed everyone to table in such a way it was as if He said, “come, just as you are, with all your doubts and questions and insecurities, with all your failures and skepticism, with your dirty hands and soiled hearts. Come to My table and eat with Me. My bread will feed your hungry body, My wine will cleanse your soul.”</p>
    </div>
</div>

<!-- community driven --> 

<div id="discoverCommunity"
     class="sublayer discover-text" 
     data-1000="top:100%" 
     data-1200="top:100%"
     data-2000="top:30%"
     data-3000="top:-70%">
    <p>Cana is <span>community</span> driven and <span>community</span> led.</p>    
    <div id="readMoreCommunity" class="readmore-text">read more <img src="images/read-more-arrow.png"/></div>
</div>

<div id="overlayCommunity"
     class="sublayer content-overlay" 
     data-0="left:100%">

     <div id="closeCommunity" class="close-button"></div>

     <div class="overlay-inner"> 
        <h2>Community Driven and Community Led</h2>

        <p>While we recognize the value of the top down leadership model, we subscribe to a broader model where we all lead and we all follow. We are all disciples of Christ, or would be disciples, or just curious observers who want to walk side by side on this earthly pilgrimage. We all have strengths and weaknesses, wisdom and foolishness, confidences and uncertainty. Each one has something profound to offer the community and we encourage such sharing. There is no one particular “answer man” here. If you need, come and take. If you have, come and give.</p>

        <p>Naturally, this is an extremely challenging model. However, we seek to be constantly aware of our own personal need for Grace which inspires us to extend grace to others. It is in this prayerful spirit of meekness, patience and humility that we believe this model of community can and does work.</p>
    </div>
</div>


<!-- old/new --> 

<div id="discoverOldNew"
     class="sublayer discover-text" 
     data-2000="top:100%" 
     data-2200="top:100%"
     data-3000="top:30%"
     data-4000="top:-70%">
    <p>Cana brings together the <span>old</span> and <span>new</span>.</p>    
    <div id="readMoreOldNew" class="readmore-text">read more <img src="images/read-more-arrow.png"/></div>
</div>

<div id="overlayOldNew"
     class="sublayer content-overlay" 
     data-0="left:100%">

     <div id="closeOldNew" class="close-button"></div>
    

     <div class="overlay-inner"> 

    <h2>Integration the Old &amp; New</h2>

    <p>We have discovered that many people grow weary of the Christian tradition they were raised in but not of God. Unfortunately in abandoning their own heritage, they often cannot find another tradition to be comfortable in and so they relinquish involvement in church altogether. Often this is a result of such extreme cultural swings from one church to another. This is not to diminish that, as these radically different cultures work well for the loyal participants and exist for a reason.</p>

<p>But at Cana Community we borrow from many Christian traditions because we believe the familiar together with the unusual creates an environment that allows persons from many different backgrounds to feel at home in our community. This is especially true of our main worship service. It is a time when the liturgy and customs of the old (orthodox/traditional) blend with the music and spirit of the new (non- denominational/evangelical) in such a way that persons from any branch of Christianity would all at once be comfortable with what they recognize and be gently challenged by what is new.</p>
    </div>
</div>


<!-- love God/Others --> 

<div id="discoverLove"
     class="sublayer discover-text" 
     data-3000="top:100%" 
     data-3200="top:100%"
     data-4000="top:30%"
     data-5000="top:-70%">
    <p>Cana is committed to <span>loving</span> God and <span>loving</span> others.</p>    
    <div id="readMoreLove" class="readmore-text">read more <img src="images/read-more-arrow.png"/></div>
</div>

<div id="overlayLove"
     class="sublayer content-overlay" 
     data-0="left:100%">

     <div id="closeLove" class="close-button"></div>
       
     <div class="overlay-inner"> 

        <h2>Loving God &amp; Loving Others</h2>

        <p>We want to be people who love. Not in some theoretical or emotional way do we strive to love, but with action, self giving, hard work and much sacrifice.</p>

          <p>Our teaching and studying is wholly concerned with examining the scripture in light of this commandment. We believe Christ when He said: “On these two commandments depend the whole Law and the Prophets”, (Matthew 22:40). Therefore we expect to find the Who, what, when, where and why of this throughout the Bible. In fact, we believe the Bible is designed through God’s inspiration to reveal this universal truth. It is our belief that God created us for this, sent His son Jesus to teach us this and to lay down His life to free us to this, and gave us his Holy Spirit to enable us for this.
        </p>
          <p>Our conversations are designed to further our understanding of this command to love one another. We are engaged in an ongoing dialogue through which we encourage, inspire, and challenge one and all to love the other. And this other is everyone. Certainly the other is the oppressed and marginalized of our greater world. The other is also the poor and outcaste within our own society. But ultimately the other is anyone who is our neighbor at any given moment. Often the most pressing need of love today is in the form of forgiveness, understanding and acceptance that so many crave, yet so many are denied.</p>

          <p>Our actions are based on the firm conviction that Christ loved and so should we. “By this all men will know that you are My disciples, if you have love for one another” (John 13:35). Here at Cana Community we want to be known in this way. Of course we do fail at times but remain committed to the overriding belief that authentic human being loves.</p>

    </div>


<!--   <p>St Francis said, “preach the gospel at all times, and only when absolutely necessary, use words”. Our community outreach (both local and worldwide) follows this sentiment. We are constantly moving to love others in actions of feeding and clothing the poor, visiting the sick, giving voice to the marginalized, taking up the cause of the oppressed, and sharing grace in an all too often graceless age.</p> -->

</div>

<!-- Division --> 

<div id="discoverDivision"
     class="sublayer discover-text" 
     data-4000="top:100%" 
     data-4200="top:100%"
     data-5000="top:30%"
     data-6000="top:-70%">
    <p>Cana yearns to stay away from <span>doctrinal divisiveness</span> that has always plagued churches.</p>    
    <div id="readMoreDivision" class="readmore-text">read more <img src="images/read-more-arrow.png"/></div>
</div>

<div id="overlayDivision"
     class="sublayer content-overlay" 
     data-0="left:100%">

     <div id="closeDivision" class="close-button"></div>

     <div class="overlay-inner"> 

        <h2>Avoiding Divisiveness</h2>

        <p>One of the most common ways people tend to define a church community is through the doctrines they profess. Then this definition is used to judge one particular church over and against another. It is in this way that through the centuries Christianity has become a much divided religion. Naturally, this is not to say that all division is blatantly deconstructive. Christ’s own metaphor of the Kingdom of God being like a large tree in which all the birds of the air come to nest may have been a haunting but tender prophecy of this very present reality. Division may not be the Divine ideal, but certainly it has not left a too small tree.</p>

        <p>Still, at Cana Community we are a community of believers who want to remain, as much as humanly possible, removed from this doctrinal divisiveness. We are happy to be a part of the grand tree that is Christianity but do not want to try to establish our own branch, or graft onto one that already exists. We are too much of a hybrid anyway; borrowing from so many branches that strict definition eludes us. We would rather cling to the Christ and His purposes than to try to be another voice in the already crowded debate over doctrine.</p>

        <p>Of course, we are thankful for the debate. It has been going on for two thousand years and has resulted in giving the Christian faith some very much needed guidance. The men and women who have been responsible for refining doctrine have been invaluable to the journeys of countless pilgrims. Our thanks for them, and respect of them, will not diminish. But we at Cana Community are called as a group of followers of Christ to a different mission.</p>
    </div>
    
</div>


<!-- Communion --> 

<div id="discoverCommunion"
     class="sublayer discover-text" 
     data-5000="top:100%" 
     data-5200="top:100%"
     data-6000="top:30%"
     data-7000="top:-70%">
    <p>Cana breaks <span>bread</span> together each week.</p>    
    <div id="readMoreCommunion" class="readmore-text">read more <img src="images/read-more-arrow.png"/></div>
</div>

<div id="overlayCommunion"
     class="sublayer content-overlay" 
     data-0="left:100%">

     <div id="closeCommunion" class="close-button"></div>
       
     <div class="overlay-inner"> 

    <h2>Breaking Bread Together</h2>

    <p>On the last night that Jesus sat at table He shared a meal with His disciples. And then, “He took some bread, gave thanks, He broke it, and gave it to them saying, ‘This is My body which is given for you; do this in remembrance of me.’ And in the same way He took the cup, saying, ‘This cup which is poured out for you is the new covenant in my blood.’</p>

 <p>At Cana Community we want to honor this teaching of the Christ to break bread and share wine. This table is known by many names: The Lord’s Supper, Communion, The Eucharist, etc. We like Eucharist because it simply means “Thanksgiving” and it is at this table that we are reminded of why we are most thankful: Christ’s willing sacrifice of self that we might have life and, as He said, have it “more abundantly”.</p>

 <p>By making The Eucharist central to our worship service, we believe we are accomplishing many important things. First, we are following His example and there is no greater example for human being than that of Jesus. Second, we are glorifying God by celebrating on a regular basis His great love for us. Third, by sitting at table every week, we have an opportunity to remember how much we need His Grace, rely on His forgiveness, and enter reality through His love. And fourth, it is a constant opportunity to seek God’s Mercy and be cleansed of our failures to live into the kingdom.</p>
    </div>

</div>

<!-- Communion --> 

<div id="discoverMore"
     class="sublayer discover-text" 
     data-6000="top:100%" 
     data-6200="top:100%"
     data-7000="top:20%"
     data-8000="top:-80%">

    <p>Discover more about the Cana vision through the links below.</p>    

    <div class="podcast-buttons">
        <a id="readMoreWhyCana" class="square-button" href="#">Why the Name Cana?</a>
        <a id="readMoreSOF" class="square-button" href="#">Statement of Faith</a>
        <a id="readMoreAboutPastors" class="square-button" href="#">About the Pastors</a>
   </div>


</div>


<div id="overlayWhyCana"
     class="sublayer full-page content-overlay" 
     data-0="left:100%">

     <div id="closeWhyCana" class="full-close-button"></div>
    
     <div class="overlay-inner"> 

         <div class="col large-text">

        <h2>Why Are We Named Cana?</h2>

        <p>“Love the Lord your God and love your neighbor” — Christ</p>

    <p>“Turning the water of lifeless living into the wine of gladness…” — Michael Card</p>

    <p>Michael Card evokes the memories of the wedding at Cana when he sings, “Lord of light come to this wedding, take the doubt of darkness away, turn the water of lifeless living to the wine of gladness we pray.” It is easy in this world of uncertainty to be very familiar with the doubts of darkness and to long for something more. We at Cana Community believe this is exactly why Christ came to Cana then, and why He longs to come into our own lives today: to offer each of us the same wine of gladness he offered to that bride and groom so long ago.</p>

    <p>The wine of gladness is a wonderful metaphor for redemption, freedom, authentic human being. The great Indian novelist and philosopher Tagore wrote, “All things reach out with strong hands toward perfection.” That reaching out is the human want of the Divine. It is the desire to know a Reality beyond our limited selves. This is the human cry for redemption; a deep inner knowing that there must be something beyond the limitations of our own failures, our own demons, our own fears, our own shattered dreams. It is the undeniable suspicion that authenticity exists and it can be ours.</p>

         </div>   

         <div class="col large-text">

        <p>The Bible claims, and Christ affirms, that we are all made in the image of God, the Imago Dei. Yet it does not take a lot of self honesty to acknowledge that the Imago Dei has been cracked, broken, obscured. Scripture tells that God is love. We know then that authentic human being is living into love of the other: both the Divine Other and the human other. Yet, the world staggers under the seeming universal expression of man’s collective loveless inhumanity to man. Our cups, once filled with the wine of authenticity, hold something now much less. Christ would mend our cups and fill them again with a more recognizable Image. At Cana Community we believe more authentic human being is not only possible, it is God’s desire for each of us; a Divine desire so strong He gave Himself to make it attainable.</p>
      <p>And it was at table that Christ so often offered this redemption. At a table of thanksgiving where all were welcome to come and all were invited to partake of what Card calls “the bread of forgiveness and the wine of release”. Here at Cana Community we desire to follow Christ’s example and welcome all to table to join with us as we explore this idea of authenticity, of freedom, of redemption. We want to know this Christ whose first miracle was changing water to wine, we want to worship this God in Whose Image we were all created, we want to discover again “the wine of gladness”, and pursue in community the blazing reality of loving God and loving others. Please come and join us every Sunday at 10:30.</p>
            
         </div>   

     </div>   

</div>

<div id="overlaySOF"
     class="sublayer full-page content-overlay" 
     data-0="left:100%">

     <div id="closeSOF" class="full-close-button"></div>
    
     <div class="overlay-inner"> 


         <div class="col small-text">

            <h2>Statement Of Faith</h2>

            <p>One of the most common ways people tend to define a church community is through the doctrines they profess. Then this definition is used to judge one particular church over and against another. It is in this way that through the centuries Christianity has become a much divided religion. Naturally, this is not to say that all division is blatantly deconstructive. Christ’s own metaphor of the Kingdom of God being like a large tree in which all the birds of the air come to nest may have been a haunting but tender prophecy of this very present reality. Division may not be the Divine ideal, but certainly it has not left a too small tree.</p>

            <p>Still, at Cana Community we are a community of believers who want to remain, as much as humanly possible, removed from this doctrinal divisiveness. We are happy to be a part of the grand tree that is Christianity but do not want to try to establish our own branch, or graft onto one that already exists. We are too much of a hybrid anyway; borrowing from so many branches that strict definition eludes us. We would rather cling to the Christ and His purposes than to try to be another voice in the already crowded debate over doctrine.</p>

            <p>Of course, we are thankful for the debate. It has been going on for two thousand years and has resulted in giving the Christian faith some very much needed guidance. The men and women who have been responsible for refining doctrine have been invaluable to the journeys of countless pilgrims. Our thanks for them, and respect of them, will not diminish. But we at Cana Community are called as a group of followers of Christ to a different mission.</p>

            <p>Debate and division can so easily distract us from purpose. We want to remain engaged in our purpose: to learn to love God and others – to become more genuine followers of The Christ, and to encourage the people around us to do the same. Francis Schaeffer echoed Christ’s own words when he wrote: “Love and the unity it attests to is the mark Christ gave Christians to wear before the world. Only with this mark may the world know that Christians are indeed Christians and that Jesus was sent by the Father.” At Cana Community you may not find a community that is all on the same doctrinal page, but hopefully you will find a community of believers that witness to the reality of Jesus Christ and His love for the world.</p>
            
         </div>   



         <div class="col small-text">

            <p>All of this is not to say that we reject doctrine and encourage chaos of opinion. We do not. But we do recognize that how we hold the truths we believe in can be almost as important as the truth itself. After all, we do not want to be correct in our opinions at the cost of loving others. One of the many beautiful characteristics of Jesus was His immense grace for those who did not believe the “correct” doctrine. An endearing image of this way of living was when a woman, arguably a prostitute, came to Him and washed His feet with her tears. The religiously astute of the time were scandalized by this display which obviously ran counter to so much correct teaching. But Jesus trumped that correctness with a love so pure. We would like to love with this kind of purity.</p>

                <p>So instead of trying to create the perfect doctrinal statement that defines our community and exposes a tenacity for being correct, we instead embrace a statement of faith that has been around for almost as long as the worldwide church itself. The Apostle’s Creed. It has served countless communities of faithful followers of Christ for many centuries and we embrace it as our own statement of faith.</p>

            <p><span class="bold-text">The Apostles Creed</span></p>

            <p>I believe in God, the Father almighty,<br/>
            creator of heaven and earth.<br/>
            I believe in Jesus Christ, God’s only Son, our Lord,<br/>
            who was conceived by the Holy Spirit,<br/>
            born of the Virgin Mary,<br/>
            suffered under Pontius Pilate,<br/>
            was crucified, died, and was buried;<br/>
            he descended to the dead.<br/>
            On the third day he rose again;<br/>
            he ascended into heaven,<br/>
            he is seated at the right hand of the Father,<br/>
            and he will come again to judge the living and the dead.<br/>
            I believe in the Holy Spirit,<br/>
            the holy catholic church,<br/>
            the communion of saints,<br/>
            the forgiveness of sins,<br/>
            the resurrection of the body,<br/>
            and the life everlasting. AMEN.</p>

         </div>   

     </div>   



</div>

<div id="overlayAboutPastors"
     class="sublayer full-page content-overlay" 
     data-0="left:100%">

     <div id="closeAboutPastors" class="full-close-button"></div>
    
     <div class="overlay-inner"> 

         <div class="col large-text">

            <h2>David Gentleman, Founding Pastor</h2>

<p>David lives with his wife and kids and one dog in central MA. When he is not studying, teaching, pastoring, fathering or husbanding, he is running, hiking, cooking, watching movies, or yelling at the Patriots through the TV. Because they can hear him – NOT!</p> 

<p><span>If you could only have 3 books in your library (Bible excluded because we all know as pastors you would have a Bible) what would they be?</span></p>

<p>“Brothers Karamazov” by Dostoyevsky – There was a time in my life this was my Bible. I return to it over and over again. Like an old friend always ready to speak truth into me, it never disappoints. “Above all, don't lie to yourself. The man who lies to himself and listens to his own lie comes to a point that he cannot distinguish the truth within him, or around him, and so loses all respect for himself and for others. And having no respect he ceases to love.” That is an important truth for a friend to speak into my life I think.</p> 

<p>“Kingdom, Grace, Judgment: Paradox, Outrage, and Vindication in the Parables of Jesus” by Robert Farrar Capon – He throws such a brilliant light on grace. A reminder I need over and over again.</p> 

<p>“The Complete Stories” by Flannery O’Connor. Those who know her will understand this choice.</p> 

<p>“The Furious Longing of God” by Brennan Manning (I know this is 4 but this one is so small it really doesn’t count!) This is a book I read every 6 months or so. To be reminded of the central truth of Scripture: Jesus Loves Me! (I need that reminder again and again and again…)</p> 


<p><span>The one place you would visit if you had the time and resources?</span></p>

<p>During my missionary years I had the incredible blessing of traveling to many different parts of the world, but still there are a few places I have yet to see and really want to so this is so difficult to answer. Bora Bora, Rio, Israel, Kilimanjaro, (I know the question said one!) Okay then, Italy – and I am not going to be more specific because I want to spend a year exploring the whole place – food, wine, people, geography.</p> 

<p><span>Describe a moment in time when God's manifestation of His grace and love was so powerful you were convinced beyond a shadow of a doubt of His existence.</span></p>

<p>Early 1990’s. Northern India. Went to a leper colony. I was supposed to be the preacher that “brought them the Good News”. Instead they brought it to me. Before I spoke, they sang songs of worship. I have never heard worship so pure, so authentic, so vital. And it was coming from the outcast among the outcast; the most marginalized of human beings; people whose entire horizon was nothing more than more suffering and then death. I wept through the worship set, and then when it was my turn to speak, all I did was thank them for “bringing me the Good News.”</p> 

<p><span>What would your last supper be?</span></p>

<p>Again a question way too hard to answer but let me try. Crusty Parisian style bread, artisan cheeses, and extra virgin olive oil with fresh, raw, crushed garlic; Aaong with a subtle Italian red. And my family and friends to share it all with. If someone else was paying and I would be absolved from gluttony on my last meal, I would add a second course of sautéed soft shell Maryland crabs and soft shell Maine lobster. Along with a layered French white. Then a Third course of organic Vermont pastured rack of lamb with baby potatoes and new brussel sprouts. Along with a big American red. And a dessert of the freshest possible raspberries with grapenut and wild blueberry ice creams from Rota Springs farm.</p> 

<p><span>Why are you a Pastor?</span></p>

<p>Because love wins and I want everyone to know that.</p> 



         </div>   

         <div class="col large-text">

            <h2>Mark High, Associate Pastor</h2>


<p>Mark is a blessed husband &amp; father who continues to be allowed home each day by the only true love of his life, Robin.  Mark's second love is hockey, and he's a faithful Bruins fan.  Mark enjoys spending time with his only son Timothy who comes home for Pat's games each Sunday, but outside of hockey and football he could care less about any other so called "sports".  True to his own family's musical heritage, he picks away at the banjo each free evening, helps out the church worship team, and is taking some very much needed voice lessons from his musically gifted and precious only daughter Jessica.</p>  

<p><span>If you could only have 3 books in your library what would they be?</span></p>
<p>  Confession time - I used to hate reading, and even now I seldom read for 'fun'. </p>
  <p> I never understood the power of words and story until at some point when I was around 14 or 15 years old.  Around that time I picked up a book by John Steinbeck titled "The Pearl" and was completely enraptured.  I actually had that particular book, "The Pearl", with all my little doodles and notes and thoughts in the pages, until about 2011, and would from time to time pull it out and re-read it.  A classic story asking classic questions about relationships, values, and human nature that, looking back, was a very early indication of the types of reading and thinking that I would enjoy for a lifetime.  This book would have to be in my collection because of the value of its story to me and because of my personal attachment to the book itself.  </p>
<p> Second of my three choices would most likely be John Piper's "Desiring God".  I have never forgotten the powerful restatement by Piper of a Jonathan Edwards inspiration that reads, "God is most glorified in us when we are most satisfied in Him".  This is a deep and deeply relational truth that I continue to find inescapable.  I was a few years into pastoral ministry when another pastoral friend gave me his copy of this book, which I still have, and we would meet weekly for breakfast and talk through it.  Piper's writing style, exegesis on specific areas of life, combined with an obvious passion for God opened up for me the value of not only the intellectual discipline of study and exegesis, but of its connection (and my own connection) to passionately enjoying God through the revelations of Scripture.   </p> 
 <p>  My Third book would be a more recent reading titled "Tales of a Magic Monastery" from Theophane the Monk that was the recommendation of a friend during a particularly difficult summer of my life.  I have long been drawn to the immense challenges and beauties of living a life of prayer, study, worship, community and service that the vocation of monastic life invites, and particularly the Cistercian expression of this life (I spent regular time at a Benedictine monastery near us, and met regularly with a Benedictine monk for some time for Spiritual direction and discernment while in seminary).  This collection of parable like, one-page stories, offers depths of meaning and insight that can only unfurl themselves fully throughout a lifetime, and are the fruit of the kind of inner life that I believe the outer expression of monasticism can help foster.  I truly wish I had found this book much earlier in my life, even though I may not have valued it as much as I do in this season of my life and walk with God.  These stories not only offer me deep Spiritual insights, but always invite me back into that interior space where God awakens in me the vitality of His life and Spirit.    </p>

<p><span>The one place you would visit if you had the time and resources?</span></p>
  <p>I have an admitted attraction for Asia.  Having spent time in Thailand, Asian culture and history and values and food and people and the positive and negative influences of the West, have a stronger draw on me than any other part of the world.  </p>
  <p> That said, while I will always be entertaining the idea of returning to Thailand and visiting my friends there, if I had the time and resources I think I would also like to explore Japan and its people and culture and history.  My family has had several friends with extraordinary experiences with the Japanese people that leads me to suspect that the experiences of our two countries over the centuries, both with and against each other, have more greatly influenced each other more than we hear either nation speak of very much, and that there are great insights to be gained from spending time with Japanese people and Japanese culture.  (And of course I would love to find some really good Sushi offerings!).      </p>
      
<p><span>Describe a moment in time when God's manifestation if His grace and love was so powerful you were convinced beyond a shadow of a doubt of His existence.</span></p>
  <p>It's the core experience of my life. </p> 
<p>  No other day, or encounter, or view, or season or event or experience has ever come close - and I have found it impossible to even share with others in words, and certainly not in a few paragraphs.</p> 
<p>  The synopsis, which will make it sound even more incredulous and imaginary and outlandish and possibly even heretical depending on your own beliefs, is of a simple walk home from elementary school when I was living in a little town called Logansport, Indiana.  I remember a school bus where after school some of us would board and gather for something like Sunday school.  We would read and memorize and the like; at this point in time we were memorizing books of the Bible.  </p>
 <p> I'm just going to say this plainly knowing it deserves a lot more description, because you're going to have questions I can't answer here, but as I walked home from school (3-4 blocks away) I was met by Jesus and we shared the short but everlasting walk together, and then embraced - well, He embraced me - as I arrived home.  Even now my fingers stop, and I tear up, and there are no words I know of that will help you understand.  Shortly afterward our family would move to Massachusetts and life would be turned upside down.  </p>
<p>  However, years later, and shortly before my ordination services, my mother told me there was a day when I came home from school and asked her if it was possible to hug Jesus.  I'm sure it was the same day.  Beyond a shadow of a doubt.  </p>

<p><span>What would your last supper be?</span></p>
<p>Thai food - all of it (well, except Durian), set out in a big, circular, rotating table with lounging sofas that myself and all of the truly hungry would recline into and feast off of.  I love the healthy nature of Thai food, the spices and combinations of spices and seasonings, and that no matter how much Thai food I eat for dinner, I never seem to feel disgustingly full like I do with American food.  </p>
 <p> My family would probably also add that it's because my favorite Thai restaurant has to limit me to three Thai iced teas or they will lose money on my consumption of Thai iced tea alone!  </p>

<p><span>Why are you a Pastor?</span></p>
 <p> Now, as I answer, understand that my answer is directed not to a question about calling or education or why I might be a church pastor, chaplain, missionary or the like, but about who I am.  It's hard for me to separate the "you" and "Pastor" in this question.</p>
  <p> So this question, to me, is like asking water why is it wet or asking a tree why it is wood.  The answer just seems obvious and almost silly to me personally, but I completely get why people are curious and ask it.  I am a pastor simply because it's the truest expression of who I truly am, who I have been created and developed and graced to be.</p>  
 <p> My joy is in knowing and being sure of this reality, and my challenge (unlike for water or a tree) is in living it.  Yet even in my human tendencies to pollute and misunderstand and misjudge both people and the world around me, my truest heart yearns to listen to others and share with others and overwhelming to help others glimpse realities of divinity and a life together that wash over us each moment.  My deepest satisfaction is not only drawn from my personal relationship with God, but experiencing other people trusting enough to quiet down and open themselves up to and live out of the real and genuinely divine presence of God.</p>

            
         </div>   

     </div>   

</div>
