<!-- come and live --> 

<div id="discoverComeAndShare"
     class="sublayer discover-text" 
     data-0="top:100%" 
     data-1000="top:30%"
     data-2000="top:-70%">
    <p>Cana is a space where you can 
    <span>come and live</span>, even if you don't 
    want to "go to church"</p>
    <div id="readMoreComeAndShare" class="readmore-text">read more <img src="images/read-more-arrow.png"/></div>
</div>

<div id="overlayComeAndShare"
     class="sublayer content-overlay" 
     data-0="left:100%">

     <div id="closeComeAndShare" class="close-button"></div>
    
    <h2>Come &amp; Live</h2>

    <p>We desire to have a space where people can go who, for whatever reason, cannot bring themselves to go to the churches that already exist.</p>

    <p>Perhaps they have become disillusioned with the traditional church of their youth or have been put off by the way politics have quietly found a place in many pulpits. Some people have been genuinely hurt by the decidedly human side of a church they once belonged to, or they just cannot get comfortable with the natural exclusiveness of many denominations. And others remain skeptical of religion in general. They may have an honest curiosity of God but cannot seem to settle in any of the more common church environments. It is our vision to create a space in which even the most disillusioned, the most hurt, the most skeptical can be comfortable.</p>

    <p>We have found that many persons retain a desire to worship God, celebrate Christ, satisfy their curiosity of the Divine, or be in community despite their misgivings about church in general. Cana Community strives to welcome these fellow sojourners and meet them where they are at. Christ welcomed everyone to table in such a way it was as if He said, “come, just as you are, with all your doubts and questions and insecurities, with all your failures and skepticism, with your dirty hands and soiled hearts. Come to My table and eat with Me. My bread will feed your hungry body, My wine will cleanse your soul.”</p>
</div>

<!-- community driven --> 

<div id="discoverCommunity"
     class="sublayer discover-text" 
     data-1000="top:100%" 
     data-1200="top:100%"
     data-2000="top:30%"
     data-3000="top:-70%">
    <p>Cana is <span>community</span> driven and <span>community</span> led.</p>    
    <div id="readMoreCommunity" class="readmore-text">read more <img src="images/read-more-arrow.png"/></div>
</div>

<div id="overlayCommunity"
     class="sublayer content-overlay" 
     data-0="left:100%">

     <div id="closeCommunity" class="close-button"></div>
    
    <h2>Community Driven and Community Led</h2>

    <p>While we recognize the value of the top down leadership model, we subscribe to a broader model where we all lead and we all follow. We are all disciples of Christ, or would be disciples, or just curious observers who want to walk side by side on this earthly pilgrimage. We all have strengths and weaknesses, wisdom and foolishness, confidences and uncertainty. Each one has something profound to offer the community and we encourage such sharing. There is no one particular “answer man” here. If you need, come and take. If you have, come and give.</p>

<p>Naturally, this is an extremely challenging model. However, we seek to be constantly aware of our own personal need for Grace which inspires us to extend grace to others. It is in this prayerful spirit of meekness, patience and humility that we believe this model of community can and does work.</p>

</div>


<!-- old/new --> 

<div id="discoverOldNew"
     class="sublayer discover-text" 
     data-2000="top:100%" 
     data-2200="top:100%"
     data-3000="top:30%"
     data-4000="top:-70%">
    <p>Cana brings together the <span>old</span> and <span>new</span>.</p>    
    <div id="readMoreOldNew" class="readmore-text">read more <img src="images/read-more-arrow.png"/></div>
</div>

<div id="overlayOldNew"
     class="sublayer content-overlay" 
     data-0="left:100%">

     <div id="closeOldNew" class="close-button"></div>
    
    <h2>Integration the Old &amp; New</h2>

    <p>We have discovered that many people grow weary of the Christian tradition they were raised in but not of God. Unfortunately in abandoning their own heritage, they often cannot find another tradition to be comfortable in and so they relinquish involvement in church altogether. Often this is a result of such extreme cultural swings from one church to another. This is not to diminish that, as these radically different cultures work well for the loyal participants and exist for a reason.</p>

<p>But at Cana Community we borrow from many Christian traditions because we believe the familiar together with the unusual creates an environment that allows persons from many different backgrounds to feel at home in our community. This is especially true of our main worship service. It is a time when the liturgy and customs of the old (orthodox/traditional) blend with the music and spirit of the new (non- denominational/evangelical) in such a way that persons from any branch of Christianity would all at once be comfortable with what they recognize and be gently challenged by what is new.</p>

</div>


<!-- love God/Others --> 

<div id="discoverLove"
     class="sublayer discover-text" 
     data-3000="top:100%" 
     data-3200="top:100%"
     data-4000="top:30%"
     data-5000="top:-70%">
    <p>Cana is committed to <span>loving</span> God and <span>loving</span> others.</p>    
    <div id="readMoreLove" class="readmore-text">read more <img src="images/read-more-arrow.png"/></div>
</div>

<div id="overlayLove"
     class="sublayer content-overlay" 
     data-0="left:100%">

     <div id="closeLove" class="close-button"></div>
    
    <h2>Loving God &amp; Loving Others</h2>

    <p>We want to be people who love. Not in some theoretical or emotional way do we strive to love, but with action, self giving, hard work and much sacrifice.</p>

  <p>Our teaching and studying is wholly concerned with examining the scripture in light of this commandment. We believe Christ when He said: “On these two commandments depend the whole Law and the Prophets”, (Matthew 22:40). Therefore we expect to find the Who, what, when, where and why of this throughout the Bible. In fact, we believe the Bible is designed through God’s inspiration to reveal this universal truth. It is our belief that God created us for this, sent His son Jesus to teach us this and to lay down His life to free us to this, and gave us his Holy Spirit to enable us for this.
</p>
  <p>Our conversations are designed to further our understanding of this command to love one another. We are engaged in an ongoing dialogue through which we encourage, inspire, and challenge one and all to love the other. And this other is everyone. Certainly the other is the oppressed and marginalized of our greater world. The other is also the poor and outcaste within our own society. But ultimately the other is anyone who is our neighbor at any given moment. Often the most pressing need of love today is in the form of forgiveness, understanding and acceptance that so many crave, yet so many are denied.</p>

  <p>Our actions are based on the firm conviction that Christ loved and so should we. “By this all men will know that you are My disciples, if you have love for one another” (John 13:35). Here at Cana Community we want to be known in this way. Of course we do fail at times but remain committed to the overriding belief that authentic human being loves.</p>

<!--   <p>St Francis said, “preach the gospel at all times, and only when absolutely necessary, use words”. Our community outreach (both local and worldwide) follows this sentiment. We are constantly moving to love others in actions of feeding and clothing the poor, visiting the sick, giving voice to the marginalized, taking up the cause of the oppressed, and sharing grace in an all too often graceless age.</p> -->

</div>

<!-- Division --> 

<div id="discoverDivision"
     class="sublayer discover-text" 
     data-4000="top:100%" 
     data-4200="top:100%"
     data-5000="top:30%"
     data-6000="top:-70%">
    <p>Cana yearns to stay away from <span>doctrinal divisiveness</span> that has always plagued churches.</p>    
    <div id="readMoreDivision" class="readmore-text">read more <img src="images/read-more-arrow.png"/></div>
</div>

<div id="overlayDivision"
     class="sublayer content-overlay" 
     data-0="left:100%">

     <div id="closeDivision" class="close-button"></div>
    
    <h2>Avoiding Divisiveness</h2>

    <p>One of the most common ways people tend to define a church community is through the doctrines they profess. Then this definition is used to judge one particular church over and against another. It is in this way that through the centuries Christianity has become a much divided religion. Naturally, this is not to say that all division is blatantly deconstructive. Christ’s own metaphor of the Kingdom of God being like a large tree in which all the birds of the air come to nest may have been a haunting but tender prophecy of this very present reality. Division may not be the Divine ideal, but certainly it has not left a too small tree.</p>

<p>Still, at Cana Community we are a community of believers who want to remain, as much as humanly possible, removed from this doctrinal divisiveness. We are happy to be a part of the grand tree that is Christianity but do not want to try to establish our own branch, or graft onto one that already exists. We are too much of a hybrid anyway; borrowing from so many branches that strict definition eludes us. We would rather cling to the Christ and His purposes than to try to be another voice in the already crowded debate over doctrine.</p>

<p>Of course, we are thankful for the debate. It has been going on for two thousand years and has resulted in giving the Christian faith some very much needed guidance. The men and women who have been responsible for refining doctrine have been invaluable to the journeys of countless pilgrims. Our thanks for them, and respect of them, will not diminish. But we at Cana Community are called as a group of followers of Christ to a different mission.</p>

</div>


<!-- Communion --> 

<div id="discoverCommunion"
     class="sublayer discover-text" 
     data-5000="top:100%" 
     data-5200="top:100%"
     data-6000="top:30%"
     data-7000="top:-70%">
    <p>Cana breaks <span>bread</span> together each week.</p>    
    <div id="readMoreCommunion" class="readmore-text">read more <img src="images/read-more-arrow.png"/></div>
</div>

<div id="overlayCommunion"
     class="sublayer content-overlay" 
     data-0="left:100%">

     <div id="closeCommunion" class="close-button"></div>
    
    <h2>Breaking Bread Together</h2>

    <p>On the last night that Jesus sat at table He shared a meal with His disciples. And then, “He took some bread, gave thanks, He broke it, and gave it to them saying, ‘This is My body which is given for you; do this in remembrance of me.’ And in the same way He took the cup, saying, ‘This cup which is poured out for you is the new covenant in my blood.’</p>

 <p>At Cana Community we want to honor this teaching of the Christ to break bread and share wine. This table is known by many names: The Lord’s Supper, Communion, The Eucharist, etc. We like Eucharist because it simply means “Thanksgiving” and it is at this table that we are reminded of why we are most thankful: Christ’s willing sacrifice of self that we might have life and, as He said, have it “more abundantly”.</p>

 <p>By making The Eucharist central to our worship service, we believe we are accomplishing many important things. First, we are following His example and there is no greater example for human being than that of Jesus. Second, we are glorifying God by celebrating on a regular basis His great love for us. Third, by sitting at table every week, we have an opportunity to remember how much we need His Grace, rely on His forgiveness, and enter reality through His love. And fourth, it is a constant opportunity to seek God’s Mercy and be cleansed of our failures to live into the kingdom.</p>

</div>

<!-- Communion --> 

<div id="discoverMore"
     class="sublayer discover-text" 
     data-6000="top:100%" 
     data-6200="top:100%"
     data-7000="top:20%"
     data-8000="top:-80%">

    <p>Discover more about Cana through the links below.</p>    

    <div class="podcast-buttons">
        <a id="readMoreWhyCana" class="square-button" href="#">Why the Name Cana?</a>
        <a id="readMoreSOF" class="square-button" href="#">Statement of Faith</a>
    </div>


</div>


<div id="overlayWhyCana"
     class="sublayer full-page content-overlay" 
     data-0="left:100%">

     <div id="closeWhyCana" class="full-close-button"></div>
    
     <div class="col large-text">

    <h2>Why Are We Named Cana?</h2>

    <p>“Love the Lord your God and love your neighbor” — Christ</p>

<p>“Turning the water of lifeless living into the wine of gladness…” — Michael Card</p>

<p>Michael Card evokes the memories of the wedding at Cana when he sings, “Lord of light come to this wedding, take the doubt of darkness away, turn the water of lifeless living to the wine of gladness we pray.” It is easy in this world of uncertainty to be very familiar with the doubts of darkness and to long for something more. We at Cana Community believe this is exactly why Christ came to Cana then, and why He longs to come into our own lives today: to offer each of us the same wine of gladness he offered to that bride and groom so long ago.</p>

<p>The wine of gladness is a wonderful metaphor for redemption, freedom, authentic human being. The great Indian novelist and philosopher Tagore wrote, “All things reach out with strong hands toward perfection.” That reaching out is the human want of the Divine. It is the desire to know a Reality beyond our limited selves. This is the human cry for redemption; a deep inner knowing that there must be something beyond the limitations of our own failures, our own demons, our own fears, our own shattered dreams. It is the undeniable suspicion that authenticity exists and it can be ours.</p>

     </div>   

     <div class="col large-text">

    <p>The Bible claims, and Christ affirms, that we are all made in the image of God, the Imago Dei. Yet it does not take a lot of self honesty to acknowledge that the Imago Dei has been cracked, broken, obscured. Scripture tells that God is love. We know then that authentic human being is living into love of the other: both the Divine Other and the human other. Yet, the world staggers under the seeming universal expression of man’s collective loveless inhumanity to man. Our cups, once filled with the wine of authenticity, hold something now much less. Christ would mend our cups and fill them again with a more recognizable Image. At Cana Community we believe more authentic human being is not only possible, it is God’s desire for each of us; a Divine desire so strong He gave Himself to make it attainable.</p>
  <p>And it was at table that Christ so often offered this redemption. At a table of thanksgiving where all were welcome to come and all were invited to partake of what Card calls “the bread of forgiveness and the wine of release”. Here at Cana Community we desire to follow Christ’s example and welcome all to table to join with us as we explore this idea of authenticity, of freedom, of redemption. We want to know this Christ whose first miracle was changing water to wine, we want to worship this God in Whose Image we were all created, we want to discover again “the wine of gladness”, and pursue in community the blazing reality of loving God and loving others. Please come and join us every Sunday at 10:30.</p>
        
     </div>   



</div>

<div id="overlaySOF"
     class="sublayer full-page content-overlay" 
     data-0="left:100%">

     <div id="closeSOF" class="full-close-button"></div>
    
     <div class="col small-text">

        <h2>Statement Of Faith</h2>

        <p>One of the most common ways people tend to define a church community is through the doctrines they profess. Then this definition is used to judge one particular church over and against another. It is in this way that through the centuries Christianity has become a much divided religion. Naturally, this is not to say that all division is blatantly deconstructive. Christ’s own metaphor of the Kingdom of God being like a large tree in which all the birds of the air come to nest may have been a haunting but tender prophecy of this very present reality. Division may not be the Divine ideal, but certainly it has not left a too small tree.</p>

        <p>Still, at Cana Community we are a community of believers who want to remain, as much as humanly possible, removed from this doctrinal divisiveness. We are happy to be a part of the grand tree that is Christianity but do not want to try to establish our own branch, or graft onto one that already exists. We are too much of a hybrid anyway; borrowing from so many branches that strict definition eludes us. We would rather cling to the Christ and His purposes than to try to be another voice in the already crowded debate over doctrine.</p>

        <p>Of course, we are thankful for the debate. It has been going on for two thousand years and has resulted in giving the Christian faith some very much needed guidance. The men and women who have been responsible for refining doctrine have been invaluable to the journeys of countless pilgrims. Our thanks for them, and respect of them, will not diminish. But we at Cana Community are called as a group of followers of Christ to a different mission.</p>

        <p>Debate and division can so easily distract us from purpose. We want to remain engaged in our purpose: to learn to love God and others – to become more genuine followers of The Christ, and to encourage the people around us to do the same. Francis Schaeffer echoed Christ’s own words when he wrote: “Love and the unity it attests to is the mark Christ gave Christians to wear before the world. Only with this mark may the world know that Christians are indeed Christians and that Jesus was sent by the Father.” At Cana Community you may not find a community that is all on the same doctrinal page, but hopefully you will find a community of believers that witness to the reality of Jesus Christ and His love for the world.</p>
        
     </div>   



     <div class="col small-text">

        <p>All of this is not to say that we reject doctrine and encourage chaos of opinion. We do not. But we do recognize that how we hold the truths we believe in can be almost as important as the truth itself. After all, we do not want to be correct in our opinions at the cost of loving others. One of the many beautiful characteristics of Jesus was His immense grace for those who did not believe the “correct” doctrine. An endearing image of this way of living was when a woman, arguably a prostitute, came to Him and washed His feet with her tears. The religiously astute of the time were scandalized by this display which obviously ran counter to so much correct teaching. But Jesus trumped that correctness with a love so pure. We would like to love with this kind of purity.</p>

            <p>So instead of trying to create the perfect doctrinal statement that defines our community and exposes a tenacity for being correct, we instead embrace a statement of faith that has been around for almost as long as the worldwide church itself. The Apostle’s Creed. It has served countless communities of faithful followers of Christ for many centuries and we embrace it as our own statement of faith.</p>

        <p><span class="bold-text">The Apostles Creed</span></p>

        <p>I believe in God, the Father almighty,<br/>
        creator of heaven and earth.<br/>
        I believe in Jesus Christ, God’s only Son, our Lord,<br/>
        who was conceived by the Holy Spirit,<br/>
        born of the Virgin Mary,<br/>
        suffered under Pontius Pilate,<br/>
        was crucified, died, and was buried;<br/>
        he descended to the dead.<br/>
        On the third day he rose again;<br/>
        he ascended into heaven,<br/>
        he is seated at the right hand of the Father,<br/>
        and he will come again to judge the living and the dead.<br/>
        I believe in the Holy Spirit,<br/>
        the holy catholic church,<br/>
        the communion of saints,<br/>
        the forgiveness of sins,<br/>
        the resurrection of the body,<br/>
        and the life everlasting. AMEN.</p>

     </div>   




</div>
