<!-- 
    Skroller Tips 
    * Layers that are connected visually (overlays or sequential) need to scroll up at same pace.
    * After scrolling out, all fixed layers need to jump to -100% to prevent them from hanging around as unwanted guests.    
    * Snapto functionality - see AppController 
--> 

<div class="navbar">
    <ul class="menu-list">
        <li><a id="homeLink" data-menu-top="0" href="#"><span class="icon-home"></span></a></li>
        <li><a id="discoverLink" data-menu-top="1000" href="#"><span class="icon-layers"></span>Discover</a></li>
        <li><a id="connectLink" data-menu-top="8000" href="#"><span class="icon-plug"></span>Connect</a></li>
        <!-- <li><a id="serveLink" data-menu-top="9000" href="#"><span class="icon-users"></span>Serve</a></li> -->
        <li><a id="listenLink" data-menu-top="9000" href="#"><span class="icon-headphones"></span>Listen</a></li>
        <li><a id="giveLink" data-menu-top="10000" href="#"><span class="icon-coin"></span>Give</a></li>
    </ul>
</div>

<div class="footer">
    <ul class="menu-list">
        <li><a id="footerLocation" title="Our location" href="#"><span class="icon-location"></span>Location</a></li>
        <li><a id="footerTimes" title="Service times" href="#"><span class="icon-clock"></span>Time</a></li>
        <li><a id="footerPastors" title="About our pastors"  href="#"><span class="icon-user"></span>Pastor</a></li>
        <li><a id="footerContactUs" title="Contact us" href="#"><span class="icon-envelope"></span>Contact</a></li>
        <li><a title="Pastor David's blog" href="http://canacommunity.tumblr.com" target="_blank"><span class="icon-tumblr"></span>Canablog</a></li>        
        <li class="less-space"><a title="Like us on Facebook" href="http://facebook.com/canacommunity" target="_blank"><span class="icon-facebook"></span></a></li>
        <li class="less-space"><a title="Follow us on Twitter" href="http://twitter.com/canacommunity" target="_blank"><span class="icon-twitter"></span></a></li>        
        <li><a id="footerCollapseButton" title="Collapse" href="#"><span class="icon-arrow-down"></span></a></li>        
    </ul>    
    <div class="footer-content">

        <div id="locationContent" class="content-shelf">
            <div class="title">Where We Meet</div>

            <div class="col">
                <p>First floor auditorium, Temple Emanuel<br/>280 May Street, Worcester (across from Worcester State University.)</p>     
                <p>Use the parking lot on Chandler Street across the street from the temple.</p>
                <p>When you approach the temple, look for the Cana sign in the grass and enter at the door nearest it. You'll see "Stacey Cohen Youth Center" over the door. Once you enter the door, we meet in the auditorium straight ahead.</p>  
                 <p><a href="http://maps.google.com/maps?ll=-68.021044,307.847706&z=0&t=m&hl=en-US&gl=US&mapclient=embed&q=280%20May%20St%20Worcester%2C%20MA%2001602" target="_blank">Get directions on Google Maps »</a>
                 </p>
            </div>

            <div class="col">
                <img src="images/temple.jpg"/>
            </div>
            <div class="col">
                <img src="images/church-door.jpg"/>
             </div>
        </div>    

        <div id="timesContent" class="content-shelf">
            <div class="title">When We Meet</div>

            <div class="col">
             <p>Our Sunday morning church service starts at 10:00am and lasts around 90 minutes or so. We have nursery for young children and Sunday School for grades through 6th.</p>
             <p>You are welcome to come join us before church for coffee and snacks.</p>
            </div>

            <div class="col">
                <img src="images/room.jpg"/>
            </div>

            <div class="col">
                <img src="images/wteam.jpg"/>
            </div>

        </div>    

        <div id="pastorsContent" class="content-shelf">
            <div class="title">About the Pastors</div>
            <div class="col">

            </div>
            <div class="col">
            </div>
        </div>    

        <div id="contactUsContent" class="content-shelf">
            <div class="title">Contact Us</div>
            <div class="col">
                <p>We would like hear from you. You can email us at <a href="mailto:info@canacommunity.org">info@canacommunity.org</a>. Or, you can also reach us by phone at 774-696-6244.</a>
            </div>
            <div class="col">

                <p><span>Mailing Address</span><br/>
                PO Box 926<br/>
                Rutland, MA 01543<br/>
                </p>

                <p><span>Building Address</span><br/>
                Temple Emanuel<br/>
                280 May St.<br/>
                Worcester MA 01602</p>

            </div>

           <div class="col">
           </div> 

        </div>    


    </div>
</div>    

<!-- Introduction data-1000="top:-100%" --> 

<div id="homeBackground" 
     class="layer background" 
     data-0="top:0%;" 
     data-999="top:-100%"
     data-1000="top:-130%"
     >
</div>

<div id="mainTitle" 
     class="sublayer" 
     data-0="top:45%;" 
     data-1000="top:-55%;"
     data-2000="top:-155%;">
     Cana Community Church
</div>

<div id="mainSubtitle" 
     class="sublayer" 
     data-0="top:55%;" 
     data-1000="top:-45%;"
     data-2000="top:-145%">
     Come, Share, Live, and Love. 
</div>


<div id="scrollIndicator"
     class="layer scroll-indicator centered"
     data-0="top:80%"
     data-1000="top:85%"
     data-7999="top:85%;opacity:1"
     data-8000="top:85%;opacity:0"
     data-9080="top:85%;opacity:0"
     data-9100="top:85%;opacity:1"
     data-10770="top:85%;opacity:1"
     data-10801="top:85%;opacity:0">
    <div class="scroll-arrow"></div>
    <div class="instructions continue-text">scroll down for more</div>
</div>

<!-- 1000 Discover --> 

<div id="discoverBackground" 
     class="layer background" 
     data-0="top:0%;"
     data-7000="top:0%"
     data-7999="top:-100%"     
     data-8000="top:-130%">
</div>

<div id="discoverVertical"
     class="vertical-title sublayer" 
     data-0="top:0%;"
     data-7000="top:0%"
     data-8000="top:-100%">

     Discover
</div>




<div id="discoverContent"></div>




<!-- CONNECT data-8000="top:-100%"--> 

<div id="connectBackground" 
     class="layer background" 
     data-0="top:0%;"
     data-8000="top:0%"
     data-9200="top:0%"     
     data-9999="top:-100%"     
     data-10000="top:-130%"
     >
</div>

<div id="connectVertical" 
     class="vertical-title sublayer" 
     data-0="top:0%;"
     data-8000="top:0%"
     data-9000="top:0%"
     data-10000="top:-100%"
>
     Connect
</div>

<div id="connectContent"
    class="sublayer section-page"
    data-0="top:0%;"
    data-8000="top:0%"
    data-10000="top:-220%"
    data-10001="top:-340%">

    <h2><span class="icon-plug"></span>Community</h2>

    <p>Cana is far more than various individuals meeting together once a week. Cana is community, an opportunity to live into each other's lives throughout the week.</p>
    <p>Beyond our Sunday morning service, consider the following options to get connected at Cana:</p>

    <div class="connect-block">
        <span class="connecticon-cutlery large-connect-icon"></span>            
        <p><span class="bold-text">Cana Potluck Lunch. </span></p><p>Join us the first Sunday of each month after service for a pot-luck lunch just around the corner from church. Bring some food and share life together. The grill is always open for business, so bring your own food to grill if you would like.<br/><br/>Interested? Come to church on the first Sunday of the month and listen for details.</p>
    </div>

    <div class="connect-block">
        <span class="connecticon-group large-connect-icon"></span>
        <p><span class="bold-text">Small Groups. </span></p><p>Cana has homegroups and “soup groups” that meet across Worcester and the Wachusett region on a regular basis. In fact, we believe that there is no greater opportunity to get to know others in the community than through these groups. <br/><br/>Contact <a href="mailto:info@canacommunity.org">Pastor David</a> for more details on how you can get involved with an existing group or start your own.</p>
    </div>


    <div class="connect-block">
        <span class="icon-facebook2 large-connect-icon"></span>
        <p><span class="bold-text">Cana on Facebook. </span></p><p>Come on over Cana's online community on Facebook. On our Facebook page, you can interact with the Cana community throughout the week. Be sure to Like our page to get Cana news and discussions in your News Feed.<br/><br/><a href="https://www.facebook.com/canacommunity">Connect with Cana on Facebook.</a></p>
    </div>

    <div class="connect-block">
        <span class="connecticon-bubbles large-connect-icon"></span>
        <p><span class="bold-text">The Forum. </span></p><p>For college students and post-college-aged adults, the Forum is a place for the discussion of pressing topics within Christianity today. Led by Aaron Minton and Sam Shipman, the format is open ended, guided by thoughtful questions that will spur you to deeper insight and motivate you to continue your pursuit of Christ-like living. Times and dates of each forum will be announced in advance. <br/><br/><a href="https://www.facebook.com/groups/canaforum/">Connect with Aaron and Sam on the Forum Facebook group.</a></p>
    </div>
    
    <div class="connect-block">
        <span class="connecticon-camera large-connect-icon"></span>
        <p><span class="bold-text">Friday Night Lights. </span></p><p class="desktop-only">J.R.R. Tolkien argued for something he called “applicability”, the idea of a reader having the freedom to extract meaning from an author’s work rather than an author forcing a particular idea onto the reader.</p><p class="desktop-only">This principle of applicability enables us to extract meaning from a film and apply it to our journey of faith. Sadly, not everyone shares the love of film or music and perhaps some see no practical use in these things. This difference in perspective is reminicent of something C. S. Lewis once said of a non-reader: “He may be full of goodness and good sense, but he inhabits a tiny world. In it, we should be suffocated.”</p><p class="desktop-only">In the end, our goal for Friday Night Lights is that it helps us avoid “suffocating in a tiny world” — that we can experience the transforming power of Jesus Christ in a way that we never did before. So, come to FNL and invite God to use these films as tools for shaping and molding you in your faith.</p>
<p>On the second Friday of each month at 7pm, join us at the Wagner's home in Princeton as we watch a great movie and discuss the faith-related themes of the film.<br/><br/>For location and movie schedule, <a href="https://www.facebook.com/groups/506470486130481/">join the Cana Friday Night Lights Facebook group.</a></p>
    </div>

</div>



<!-- SERVE data-9000="top:-100%"--> 

<!-- <div id="serveBackground" 
     class="layer background" 
     data-0="top:0%;"
     data-9000="top:0%"
     data-10000="top:-100%"
     >
</div>

<div id="serveVertical"
     class="vertical-title sublayer" 
     data-0="top:0%;"
     data-9000="top:0%"
     data-10000="top:-100%"
     >
     Serve
</div> -->

<!-- LISTEN --> 

<div id="listenBackground" 
     class="layer background" 
     data-0="top:0%;"
     data-10000="top:0%"
     data-10999="top:-100%"     
     data-11000="top:-130%"
     >
</div>

<div id="listenVertical"
     class="vertical-title sublayer" 
     data-0="top:0%;"     
     data-10000="top:0%"
     data-11000="top:-100%"
     >
     Listen
</div>

<div id="listenContent"
    class="sublayer section-page"
    data-0="top:0%;"
    data-10000="top:0%"
    data-11000="top:-100%">

    <h2><span class="icon-headphones"></span>Podcast</h2>

    <div class="podcast-buttons">
        <a class="square-button" href="https://itunes.apple.com/us/podcast/canacast-by-cana-community/id873414885?mt=2" target="_blank">Subscribe Using iTunes</a>
        <a class="square-button" href="https://dl.dropboxusercontent.com/u/2405581/cana/canapodcast.rss" target="_blank">Subscribe Using RSS</a>
    </div>

    <p>Each week you can listen to the Sunday morning message with your iPhone, other smartphone, portable music device, or personal computer through our free <span class="bold-text">CanaCast podcast</span>. A podcast is an audio file that you can download or stream from the internet. When you subscribe to CanaCast, you can have episodes downloaded for you automatically with a Podcast app on your  smartphone or <a href="http://www.apple.com/itunes/" target="_blank">iTunes</a> on your computer.</p>

</div>


<!-- GIVE --> 

<div id="giveBackground" 
     class="layer background" 
     data-0="top:0%;"
     data-11000="top:0%"
     >
</div>

<div id="giveVertical"
     class="vertical-title sublayer" 
     data-0="top:0%;"
     data-11000="top:0%"
     >
     Give
</div>

<div id="giveContent"
    class="sublayer section-page"
    data-0="top:0%;"
    data-11000="top:0%">

    <h2><span class="icon-coin"></span>Giving &amp; Tithing</h2>

    <p>Whether you consider Cana your church home or are a friend of Cana, you can give online through our secure donation web service. Online giving is a great way to remain consistent and faithful in your stewardship whether you can make it on Sunday morning or not. To begin, click the “Give Online” button below.</p>

  <a class="square-button giving-button" href="https://app.easytithe.com/g3/?uid=canapob286" target="_blank">Give Online</a>


</div>

