<div id="mobileNav">
  <div class="mobile-menu-closed">Menu<span class="nav-down"></span></div>
  <div class="mobile-menu-opened">
     <div id="mobileHomeLink" class="mobile-menu-item">Home</div>
     <div id="mobileDiscoverLink" class="mobile-menu-item">Discover Cana</div>
     <div id="mobileLocationLink" class="mobile-menu-item">Where We Meet</div>
     <div id="mobileTimeLink" class="mobile-menu-item">When We Meet</div>
     <div id="mobileCommunityLink" class="mobile-menu-item">Community</div>
     <div id="mobilePodcastLink" class="mobile-menu-item">Podcast</div>
     <div id="mobileGivingLink" class="mobile-menu-item">Online Giving</div>
     <div id="mobileCloseLink" class="mobile-menu-item">Close<span class="nav-up"></span></div>
  </div>
</div>
<div id="mobileHomePage" class="mobile-page">

    <h1>Cana Community Church</h1>
    <p>Come, Share, Live, and Love.</p>

</div>
<div id="mobileDiscoverPage"  class="mobile-page">

    <h1><span class="icon-layers mobile-icon"></span>Discover</h1>

    <p><span>Cana is a space where you can come and live, even if you don't want to "go to church".</span></p>

     <p>We desire to have a space where people can go who, for whatever reason, cannot bring themselves to go to the churches that already exist.</p>

        <p>Perhaps they have become disillusioned with the traditional church of their youth or have been put off by the way politics have quietly found a place in many pulpits. Some people have been genuinely hurt by the decidedly human side of a church they once belonged to, or they just cannot get comfortable with the natural exclusiveness of many denominations. And others remain skeptical of religion in general. They may have an honest curiosity of God but cannot seem to settle in any of the more common church environments. It is our vision to create a space in which even the most disillusioned, the most hurt, the most skeptical can be comfortable.</p>

        <p>We have found that many persons retain a desire to worship God, celebrate Christ, satisfy their curiosity of the Divine, or be in community despite their misgivings about church in general. Cana Community strives to welcome these fellow sojourners and meet them where they are at. Christ welcomed everyone to table in such a way it was as if He said, “come, just as you are, with all your doubts and questions and insecurities, with all your failures and skepticism, with your dirty hands and soiled hearts. Come to My table and eat with Me. My bread will feed your hungry body, My wine will cleanse your soul.”</p>


<p><span>Cana is community driven and community led.</span></p> 

<p>While we recognize the value of the top down leadership model, we subscribe to a broader model where we all lead and we all follow. We are all disciples of Christ, or would be disciples, or just curious observers who want to walk side by side on this earthly pilgrimage. We all have strengths and weaknesses, wisdom and foolishness, confidences and uncertainty. Each one has something profound to offer the community and we encourage such sharing. There is no one particular “answer man” here. If you need, come and take. If you have, come and give.</p>

        <p>Naturally, this is an extremely challenging model. However, we seek to be constantly aware of our own personal need for Grace which inspires us to extend grace to others. It is in this prayerful spirit of meekness, patience and humility that we believe this model of community can and does work.</p>

<p><span>Cana brings together the old and new.</span></p>

  <p>We have discovered that many people grow weary of the Christian tradition they were raised in but not of God. Unfortunately in abandoning their own heritage, they often cannot find another tradition to be comfortable in and so they relinquish involvement in church altogether. Often this is a result of such extreme cultural swings from one church to another. This is not to diminish that, as these radically different cultures work well for the loyal participants and exist for a reason.</p>

<p>But at Cana Community we borrow from many Christian traditions because we believe the familiar together with the unusual creates an environment that allows persons from many different backgrounds to feel at home in our community. This is especially true of our main worship service. It is a time when the liturgy and customs of the old (orthodox/traditional) blend with the music and spirit of the new (non- denominational/evangelical) in such a way that persons from any branch of Christianity would all at once be comfortable with what they recognize and be gently challenged by what is new.</p>


<p><span>Cana is committed to loving God and loving others.</span></p> 

  <p>We want to be people who love. Not in some theoretical or emotional way do we strive to love, but with action, self giving, hard work and much sacrifice.</p>

          <p>Our teaching and studying is wholly concerned with examining the scripture in light of this commandment. We believe Christ when He said: “On these two commandments depend the whole Law and the Prophets”, (Matthew 22:40). Therefore we expect to find the Who, what, when, where and why of this throughout the Bible. In fact, we believe the Bible is designed through God’s inspiration to reveal this universal truth. It is our belief that God created us for this, sent His son Jesus to teach us this and to lay down His life to free us to this, and gave us his Holy Spirit to enable us for this.
        </p>
          <p>Our conversations are designed to further our understanding of this command to love one another. We are engaged in an ongoing dialogue through which we encourage, inspire, and challenge one and all to love the other. And this other is everyone. Certainly the other is the oppressed and marginalized of our greater world. The other is also the poor and outcaste within our own society. But ultimately the other is anyone who is our neighbor at any given moment. Often the most pressing need of love today is in the form of forgiveness, understanding and acceptance that so many crave, yet so many are denied.</p>

          <p>Our actions are based on the firm conviction that Christ loved and so should we. “By this all men will know that you are My disciples, if you have love for one another” (John 13:35). Here at Cana Community we want to be known in this way. Of course we do fail at times but remain committed to the overriding belief that authentic human being loves.</p>



</div>

<div  id="mobileLocationPage" class="mobile-page">

        <h1><span class="icon-location mobile-icon"></span>Where We Meet</h1>

    <p>First floor auditorium, Temple Emanuel<br/>280 May Street, Worcester (across from Worcester State University.)</p>     
    <p>Use the parking lot on Chandler Street across the street from the temple.</p>
    <p>When you approach the temple, look for the Cana sign in the grass and enter at the door nearest it. You'll see "Stacey Cohen Youth Center" over the door. Once you enter the door, we meet in the auditorium straight ahead.</p>  
     <p><a href="http://maps.google.com/maps?ll=-68.021044,307.847706&z=0&t=m&hl=en-US&gl=US&mapclient=embed&q=280%20May%20St%20Worcester%2C%20MA%2001602" target="_blank">Get directions on Google Maps »</a>
     </p>
    <img class="full-screen-image" src="images/temple.jpg"/>
    <img class="full-screen-image" src="images/church-door.jpg"/>

</div>

<div  id="mobileTimePage" class="mobile-page">

    
            <h1><span class="icon-clock mobile-icon"></span>When We Meet</h1>

             <p>Our Sunday morning church service starts at 10:00am and lasts around 90 minutes or so. We have nursery for young children and Sunday School for grades through 6th.</p>
             <p>You are welcome to come join us before church for coffee and snacks.</p>

                <img  class="full-screen-image" src="images/room.jpg"/>
                <img  class="full-screen-image" src="images/wteam.jpg"/>

</div>


<div id="mobileCommunityPage" class="mobile-page">

<h2><span class="icon-plug mobile-icon"></span>Community</h2>

<p>Cana is far more than various individuals meeting together once a week. Cana is community, an opportunity to live into each other's lives throughout the week.<p>

<p>Beyond our Sunday morning service, consider the following options to get connected at Cana:</p>

<div class="connect-block">
    <span class="connecticon-cutlery large-connect-icon"></span>            
    <p><span class="bold-text">Cana Potluck Lunch. </span></p><p>Join us the first Sunday of each month after service for a pot-luck lunch just around the corner from church. Bring some food and share life together. The grill is always open for business, so bring your own food to grill if you would like.<br/><br/>Interested? Come to church on the first Sunday of the month and listen for details.</p>
</div>

<div class="connect-block">
    <span class="connecticon-group large-connect-icon"></span>
    <p><span class="bold-text">Small Groups. </span></p><p>Cana has homegroups and “soup groups” that meet across Worcester and the Wachusett region on a regular basis. In fact, we believe that there is no greater opportunity to get to know others in the community than through these groups. <br/><br/>Contact <a href="mailto:info@canacommunity.org">Pastor David</a> for more details on how you can get involved with an existing group or start your own.</p>
</div>


<div class="connect-block">
    <span class="icon-facebook2 large-connect-icon"></span>
    <p><span class="bold-text">Cana on Facebook. </span></p><p>Come on over Cana's online community on Facebook. On our Facebook page, you can interact with the Cana community throughout the week. Be sure to Like our page to get Cana news and discussions in your News Feed.<br/><br/><a href="https://www.facebook.com/canacommunity">Connect with Cana on Facebook.</a></p>
</div>

<div class="connect-block">
    <span class="connecticon-bubbles large-connect-icon"></span>
    <p><span class="bold-text">The Forum. </span></p><p>For college students and post-college-aged adults, the Forum is a place for the discussion of pressing topics within Christianity today. Led by Aaron Minton and Sam Shipman, the format is open ended, guided by thoughtful questions that will spur you to deeper insight and motivate you to continue your pursuit of Christ-like living. Times and dates of each forum will be announced in advance. <br/><br/><a href="https://www.facebook.com/groups/canaforum/">Connect with Aaron and Sam on the Forum Facebook group.</a></p>
</div>

<div class="connect-block">
    <span class="connecticon-camera large-connect-icon"></span>
    <p><span class="bold-text">Friday Night Lights. </span></p><p class="desktop-only">J.R.R. Tolkien argued for something he called “applicability”, the idea of a reader having the freedom to extract meaning from an author’s work rather than an author forcing a particular idea onto the reader.</p><p class="desktop-only">This principle of applicability enables us to extract meaning from a film and apply it to our journey of faith. Sadly, not everyone shares the love of film or music and perhaps some see no practical use in these things. This difference in perspective is reminicent of something C. S. Lewis once said of a non-reader: “He may be full of goodness and good sense, but he inhabits a tiny world. In it, we should be suffocated.”</p><p class="desktop-only">In the end, our goal for Friday Night Lights is that it helps us avoid “suffocating in a tiny world” — that we can experience the transforming power of Jesus Christ in a way that we never did before. So, come to FNL and invite God to use these films as tools for shaping and molding you in your faith.</p>
<p>On the second Friday of each month at 7pm, join us at the Wagner's home in Princeton as we watch a great movie and discuss the faith-related themes of the film.<br/><br/>For location and movie schedule, <a href="https://www.facebook.com/groups/506470486130481/">join the Cana Friday Night Lights Facebook group.</a></p>
</div>

</div>

<div  id="mobilePodcastPage" class="mobile-page">

    <h1><span class="icon-headphones mobile-icon"></span>Podcast</h1>

    <p>Each week you can listen to the Sunday morning message with your iPhone, other smartphone, portable music device, or personal computer through our free <span class="bold-text">CanaCast podcast</span>. A podcast is an audio file that you can download or stream from the internet. When you subscribe to CanaCast, you can have episodes downloaded for you automatically with a Podcast app on your  smartphone or <a href="http://www.apple.com/itunes/" target="_blank">iTunes</a> on your computer.</p>

    <div class="podcast-buttons">
        <a class="square-button" href="https://itunes.apple.com/us/podcast/canacast-by-cana-community/id873414885?mt=2" target="_blank">Subscribe Using iTunes</a>
        <a class="square-button" href="https://dl.dropboxusercontent.com/u/2405581/cana/canapodcast.rss" target="_blank">Subscribe Using RSS</a>
    </div>


</div>

<div id="mobileGivingPage" class="mobile-page">

    <h1><span class="icon-coin mobile-icon"></span>Giving &amp; Tithing</h1>

    <p>Whether you consider Cana your church home or are a friend of Cana, you can give online through our secure donation web service. Online giving is a great way to remain consistent and faithful in your stewardship whether you can make it on Sunday morning or not. To begin, click the “Give Online” button below.</p>

  <a class="square-button giving-button" href="https://app.easytithe.com/g3/?uid=canapob286" target="_blank">Give Online</a>

</div>



